.cabecalho{
    background-color: darkslategray;
    color: aliceblue;
    display: flex;
    gap: 3rem;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    
}

.cabecalho_texto{
    text-decoration: none;
    color: aliceblue;
    margin-left: 2rem;
}

body{

    display: flex;
    justify-content: center;
}
.container{
    margin-top: 5rem;  
    width: 600px;
    height: 600px;
    background-color: rgb(196, 202, 212);
    border-radius: 15px;
}

.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.divlogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
}

.texto_login{
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    
}

.acesso{
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: rgb(4, 255, 0);
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.div_texto{
    font-size: 24px;
    color: rgb(27, 27, 32);
}

.novo{
    display: flex;
    width: 400px;
    border-radius: 10px;
   padding-bottom: 5px;
    justify-content: center;
   
    background-color: rgb(4, 77, 77);
    font-size: 24px;
    color: rgb(235, 235, 243);
    text-decoration: none;

}