.cabecalho{
    background-color: darkslategray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    
}

.texto{
    color: white;
    text-decoration: none;
        
    }
  
  body{
    background-color: rgb(131, 131, 159);
    color: aliceblue;
   
  }
  
  .cartoes{
      margin-top:  5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 2rem;
      flex-grow: 1;
    }

    .cartao{
        
        width: 400px;
        height: 300px;
    }

.rodape{
    display: flex;
    position: fixed;
    bottom: 0;   
    left: 0; 
    width: 100%;
    height: 1.5rem;  
    background-color: dimgrey;
    justify-content: flex-end;
    align-items: center;
    
}

.rodape_texto{   
    display: flex;
    color: white;
    padding-right: 2rem;
    font-size: .8rem;
    
    
        
}


.calculos{

    background-color: rgb(219, 239, 239);
}
.bases{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li{
    display: flex;
    align-content: flex-start;
    color: rgb(13, 14, 15);
    width: 15rem;
   

}

ul{
    display: flex;
    gap: 2rem;
    align-content: flex-start;
}