
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.menu{
    display: flex;
    flex-direction: column;
}
.menu-texto{
    color: color="blue" size="5";
    font-size: color="blue" size="5";

}