body{
    display: flex;
    justify-content: center;
    background-color: slategrey;
}
.titulo{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: aliceblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container{
    display: flex;
    width: 1200px;
    height: 450px;
    background-color: bisque;
    justify-content: space-evenly;
}

.lista_texto{
    display: flex;
    justify-content:space-between;
    column-gap: 50px;
}

.totalfgts{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    background-color: blue;
    color: aliceblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bor
}

.botao{
    background-color: teal;
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.pesquisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#mes{
    width: 50px;
    color: rgb(214, 6, 89);
    font-weight: bold;
}
#ano{
    width: 50px;
    color: rgb(234, 14, 14);
    font-weight: bold;
}

label{
    color: aliceblue;
    font-weight: bold;
}


