{% extends 'mensagens.html'%}
{% block conteudo %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALCULOS</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <div class="page">
        
        <form action="{{url_for('calcular')}}" method="POST" class="formLogin">          
            
                <div class="row">
                  <div class="col">
                    <label for="salbase">Salario Base</label>
                    <input input type="text" class="form-control" value="0" id="salbase" name="salbase" placeholder="valor Salario Base">
                  </div>
                  <div class="col">
                    <label for="diastrab">Dias Trabalhados</label>
                    <input input type="number" class="form-control" value="30" id="diastrab" name="diastrab" placeholder="Quantidadr de dias">
                  </div>
                  <div class="col">
                    <label for="hr50">Horas Extras 50%</label>
                    <input input type="text" class="form-control" value="0" id="hr50" name="hr50" placeholder="Quant. HE 50%">
                  </div>
                </div>

                <div class="row">
                    <div class="col">
                      <label for="hr100">Horas Extras 100%</label>
                      <input input type="text" class="form-control" value="0" id="hr100" name="hr100" placeholder="Quant. HE 100%">
                    </div>
                    <div class="col">
                      <label for="adcnot">Adicional Noturno</label>
                      <input input type="text" class="form-control"  value="0" id="adcnot" name="adcnot" placeholder="Quant.horas Noturnas">
                    </div>
                    <div class="col">
                      <label for="inputEmail4">...</label>
                      <input input type="text" class="form-control" id="inputEmail4" name="inputEmail4" placeholder="...">
                    </div>
                  </div>

                <div class="row">
                    <div class="col">
                      <label for="falta">Faltas</label>
                      <input input type="text" class="form-control" value="0" id="falta" name="falta" placeholder="Quant. Faltas">
                    </div>
                    <div class="col">
                      <label for="dsr">DSR</label>
                      <input input type="text"  class="form-control" value="0" id="dsr" name="dsr" placeholder="Quant. DSR">
                    </div>
                    <div class="col">
                      <label for="atrasos">Atrasos</label>
                      <input input type="text" class="form-control" value="0" id="atrasos" name="atrasos" placeholder="Quant. Atrasos">
                    </div>
                  </div>

                <div class="row">
                    <div class="col">
                      <label for="depsf">Dep. Salário Família</label>
                      <input input type="text" class="form-control" value="0" id="depsf" name="depsf" placeholder="Quant. Dependentes">
                    </div>
                    <div class="col">
                      <label for="depir">Dep. Imposto de Renda</label>
                      <input input type="text" class="form-control" value="0" id="depir" name="depir" placeholder="Quant. Dependentes">
                    </div>
                    <div class="col">
                      <label for="pensao">Pensao</label>
                      <input input type="text" class="form-control" value="0" id="pensao" name="pensao" placeholder="Valor Pensao">
                    </div>
                  </div>
              
                <div class="row">
                    <div class="col">
                        <label> Periculosidade?</a>
                            <select name="opperic" id="opperic">
                                <option value="sim">Sim</option>
                                <option value="nao">Não</option>
                            </select>
                    </div>  

                    <div class="col">
                        <label>Insalubridade?</a>
                            <select name="opinsal" id="opinsal">
                                <option value="sim">Sim</option>
                                <option value="nao">Não</option>
                            </select>
                    </div>

                
                                             
                    <div class="col">  
                      <label>% Insalubridade</a>
                      <select name="insal" id="insal">                 
                        <option value="0">0 %</option>
                        <option value="10">10 %</option>
                        <option value="20">20 %</option>
                        <option value="40">40 %</option>
                      </select>   
                    </div>
                    
                </div></br></br>

                <input type="submit" value="CALCULAR" class="btn">
                <a href="/index"  style="text-decoration: none; border-radius: 5px; text-align: center;" class="p-2 mb-1 bg-primary text-white" > Voltar P/ Página Inicial</a><br/>
         </form>
    </div>
    
</body>
{%endblock%}
</html>