
{% extends 'base.html'%}
    {% block conteudo %}

      
    <link href="static/style2.css" rel="stylesheet">    
    
    <body>        
    


        <section class="apresentacao">
            
            <img  src="static/imagem/IR1.jpg" alt=""  width="350" height="220">                        

            <img  src="static/imagem/tabelaINSS.png" alt=""  width="350" height="220">                       

            <img  src="static/imagem/tabela-irrf.jpg" alt=""  width="350" height="220">
                       
    

        </section>

        <section class="apresentacao">
            
            <img  src="static/imagem/aranha.jpg" alt=""  width="350" height="220">                     

            <a href="{{url_for('calculo')}}"><button >Calcular</button></a>                       

            <input type="image" src="static/imagem/bannerIR.jpg" title="CALCULAR" width="350" height="220">
                       
    

        </section>     
                        
                     
           

     </body>
       
 
  {%endblock%}
  
  
</html>