
{% extends 'mensagens.html'%}
    {% block conteudo %}
    
    
<html>

  <link href="static/menu.css" rel="stylesheet">  
   
  <div id="menu">   
    <ul>    
  
      <li> <a href="/index" > PAGINA INICIAL</a></li>
      <li> <a href="/calculo" > Pagina de Calculo</a></li>
      
    </ul>    
  <div>


  <table>
   
    <tr>
      <th scope="col">Proventos</th>
      <th scope="col">Valor</th>
      <th scope="col">Descontos</th>
      <th scope="col">Valor</th>
    </tr>
    <tr>
      <th scope="row">Salario</th>
      <td scope="col">{{dados.salario}}</td>
      <th scope="row">Faltas</th>
      <td scope="col">{{dados.Faltas}}</td>
    </tr>
    <tr>
      <th scope="row">Salário Família</th>
      <td scope="col">{{dados.valorsf}}</td>
      <th scope="row">DSR</th>
      <td scope="col">{{dados.valordsr}}</td>
    </tr>
    <tr>
      <th scope="row">Insalubridade</th>
      <td scope="col">{{valor_insal}}</td>
      <th scope="row">Atrasos</th>
      <td scope="col">{{dados.Atrasos}}</td>
    </tr>
    <tr>
      <th scope="row">Periculosidade</th>
      <td scope="col">{{valor_peric}}</td>
      <th scope="row">xxxxx</th>
      <td scope="col">0000</td>
    </tr>
    
       

             
                <tr>                  
                  <th scope="row">Horas extras 50%</th>
                  <td scope="col">{{dados.valorhe50}}</td>
                  <th scope="row">xxxxxxx</th>
                  <td scope="col">0000000</td>
                </tr>
             

             
                <tr>                 
                  <th scope="row">Horas extras 100%</th>
                  <td scope="col">{{dados.valorhe100}} </td>
                  <th scope="row">xxxxxxxx</th>
                  <td scope="col">0000000</td>
                </tr>
             

             
                  <tr>
                    <th scope="row">valor Adic. Nortuno:</th>
                    <td scope="col"> {{dados.valoradcnot}}</td> 
                    <th scope="row">xxxxxxxxx</th>
                    <td scope="col">00000000000</td>                    
                  </tr>
               

              
                  <tr>
                    <th scope="row">Valor DSR HE/Adc.Not:</th>
                    <td scope="col"> {{dados.dsrhoad}}</td> 
                    <th scope="row">valor dos Atrasos:</th>
                    <td scope="col">{{dados.Atrasos}}</td>                       
                  </tr>
               

             
                  <tr>
                    <th scope="row">Valor Salário Bruto:</th>
                    <td scope="col"> {{dados.bruto}}</td> 
                    <th scope="row">Valor das Faltas:</th>
                    <td scope="col">{{dados.Faltas}}</td>                   
                  </tr>
              

             
                <tr>                  
                  <th scope="row">Valor de deposito FGTS:</th>
                  <td scope="col"> {{dados.valorfgts}}</td>
                  <th scope="row">valor dos DSR:</th>
                  <td scope="col">{{dados.valordsr}}</td>
                </tr>
             

              
                <tr>
                  <th scope="row">valor dos Atrasos:</th>
                  <td scope="col">{{dados.Atrasos}}</td>
                  <th scope="row">valor dos Atrasos:</th>
                  <td scope="col">{{dados.Atrasos}}</td>                       
                </tr>
             
              
             
                <tr>
                  <th scope="row">Base Imposto de Renda:</th>
                  <td scope="col">{{dados.baseir}} </td>
                  <th scope="row">Dependentes de IR:</th>
                  <td scope="col">{{dados.valordep}} </td>                   
                </tr>
             
              
             
                <tr>                
                  <th scope="row">Valor de desconto de IRRF:</th>
                  <td scope="col"> {{dados.valorir}}</td>
                  <th scope="row">Valor descontado Pensao:</th>
                  <td scope="col">{{dados.pensao}}</td>
                 </tr>
             
          


      </table>            
       
             
    </div> 
       
            
  {%endblock%}
 
  
</html>