
{% extends 'mensagens.html'%}
    {% block conteudo %}
    
    
  <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="static/menu.css" rel="stylesheet">  
   
  <div id="menu">   
    <ul>    
  
      <li> <a href="/index" > PAGINA INICIAL</a></li>
      <li> <a href="/calculo" > Pagina de Calculo</a></li>
      
    </ul>    
  <div>


  <table>
   
    <tr>
      <th scope="col">Proventos</th>
      <th scope="col">Valor</th>
      <th scope="col">Descontos</th>
      <th scope="col">Valor</th>
    </tr>

    <tr>
      <th scope="row">Salario</th>
      <td scope="col">{{dados.salario}}</td>
      <th scope="row">Faltas</th>
      <td scope="col">{{dados.Faltas}}</td>
    </tr>

    <tr>
      <th scope="row">Salário Família</th>
      <td scope="col">{{dados.valorsf}}</td>
      <th scope="row">DSR</th>
      <td scope="col">{{dados.valordsr}}</td>
    </tr>

    <tr>
      <th scope="row">Insalubridade</th>
      <td scope="col">{{dados.insal}}</td>
      <th scope="row">Atrasos</th>
      <td scope="col">{{dados.Atrasos}}</td>
    </tr>

    <tr>
      <th scope="row">Periculosidade</th>
      <td scope="col">{{dados.peric}}</td>
      <th scope="row">x</th>
      <td scope="col">0</td>
    </tr>   

             
      <tr>                  
        <th scope="row">Horas extras 50%</th>
        <td scope="col">{{dados.valorhe50}}</td>
        <th scope="row">x</th>
       <td scope="col">0</td>
     </tr>
              

             
      <tr>                 
        <th scope="row">Horas extras 100%</th>
        <td scope="col">{{dados.valorhe100}} </td>
        <th scope="row">x</th>
        <td scope="col">0</td>
      </tr>
             

  
      <tr>
        <th scope="row">valor Adic. Nortuno:</th>
        <td scope="col"> {{dados.valoradcnot}}</td> 
        <th scope="row">x</th>
        <td scope="col">0</td>              
      </tr>
    

  
      <tr>
        <th scope="row">Valor DSR HE/Adc.Not:</th>
        <td scope="col"> {{dados.dsrhoad}}</td> 
        <th scope="row">Pensao Alimentícia:</th>
        <td scope="col">{{dados.pensao}}</td>                            
      </tr>  

    <tr>
      <th scope="col">Total Proventos</th>
      <th scope="col"> {{dados.bruto}}</th>
      <th scope="col">Total Descontos</th>
      <th scope="col">{{dados.desc}}</th>
    </tr>

      <tr>
        <th scope="row">Valor Salário Bruto:</th>
        <td scope="col"> {{dados.bruto}}</td> 
        <th scope="row">Valor das Faltas:</th>
        <td scope="col">{{dados.Faltas}}</td>                   
      </tr>
  
    <tr>                  
      <th scope="row">Valor de deposito FGTS:</th>
      <td scope="col"> {{dados.valorfgts}}</td>
      <th scope="row">valor dos DSR:</th>
      <td scope="col">{{dados.valordsr}}</td>
    </tr>
  
    <tr>
      <th scope="row">valor dos Atrasos:</th>
      <td scope="col">{{dados.Atrasos}}</td>
      <th scope="row">valor dos Atrasos:</th>
      <td scope="col">{{dados.Atrasos}}</td>                       
    </tr> 
  
    <tr>
      <th scope="row">Base Imposto de Renda:</th>
      <td scope="col">{{dados.baseir}} </td>
      <th scope="row">Dependentes de IR:</th>
      <td scope="col">{{dados.valordep}} </td>                   
    </tr>  
  
    <tr>                
      <th scope="row">Valor de desconto de IRRF:</th>
      <td scope="col"> {{dados.valorir}}</td>
      <th scope="row">Valor descontado Pensao:</th>
      <td scope="col">{{dados.pensao}}</td>
    </tr>
  
   
  </table>            
       
             
    </div> 
       
            
  {%endblock%}
 
  
</html>