
/* ctrl k c para comentar */

@import url('https://fonts.googleapis.com/css2? family= Krona+One & family= Montserrat:ital,wght@1,400;1,600 & display=swap');


/* varivaies de cores */
:root{ 
  --cor-primaria: blue ;
  --cor-secundariia: rgb(234, 237, 242);
  --cor-terciaria: #22d4fd ;
  --font-primaria: 'Krona One', sans-serif;
  --font-secundaria: 'MontSerrat' sans-serif;
}

*{
    margin: 0;
    padding: 0;
}



body{
   height: 100vh;
   box-sizing: border-box;
   background-color: var(--cor-primaria);
   color: var(--cor-secundariia);
}


.cabecalho{  
 background-color: #1AACAC; 
 padding: 1% 12%;
 gap: 20px;
 
}
   

.cabecalho_menu{    
  display: flex;  
  gap: 2rem; 
  
}
  

.cabecalho_menu_link{    
  font-family:var(--font-secundaria);
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--cor-secundariia);

}

.titulo-destaque{
    color: var(--cor-terciaria);
    
}

h1{
    font-weight: bold;
    
}

span{
    color: var(--cor-terciaria);
    border: 1px solid #055162;
    padding: 2px;
    background: rgba(242, 243, 245, 0.25);
}

.editorial {
    background: rgba(204, 219, 245, 0.25);
    padding: 10px;
  }

  .apresentacao{ 
    padding: 3% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px

  }

  .apresentacao_texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px; /* para espaçar os items dentro do display flex */
    
  }

  .apresentacao_texto_sobre{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 60px; /* para espaçar os items dentro do display flex */
   
  }


  .apresentacao_titulo{

    font-family: var(--font-primaria) ;
    
    font-size: 2.25rem;
    
    
  }
  
  .apresentacao_paragrafo{
    font-weight: 400;
    font-family: var(--font-secundaria); 
    font-size: 1.5rem;


  }

  .apresentacao_links{   
    
    display: flex; 
    flex-direction: column;       
    justify-content: space-between;    
    align-items: center;
    gap: 32px;


  }

  .apresentacao_subtitulo{

    font-family: var(--font-primaria) ;
    font-weight: 400;
    font-size: 1.75rem;
  }

  .apresentacao_links_link{   
    display: flex;   
    justify-content: center;
    align-items: center;  
    gap: 10px;
    width: 50%;
    border: 2px solid var(--cor-secundariia);
    border-radius: 10px;
    color: var(--cor-secundariia);
    text-align: center;
    font-weight: 600;
    font-family: var(--font-secundaria) ;
    font-size: 1.5rem;  
    padding: 10px;    /* para espaçar dentro do box item*/

    text-decoration: none;
    
  }

.apresentacao_imagem{

  width: 50%;

}

  .apresentacao_links_link:hover{   
    background-color: #077e98;
    color: red;
  }

  .rodape{
    font-size: 1rem;
    padding: 1%;
    background-color: #E5C3A6;
    color: #055162;
    text-align: right;

  }
 .mora{

  border-radius: 10px;

 }
  

 @media (max-width: 1000px) {

  .cabecalho_menu{
    padding: 1% ;
    justify-content: center;
  }
  .apresentacao{

    flex-direction: column-reverse;
    padding: 5%;

  }

  .apresentacao_texto{

    width: auto;  /* este nãp precisa porqie clocamos width 100% no nomal */

  }
}
    
  
  