
{% extends 'mensagens.html'%}
    {% block conteudo %}
    
    
  <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="widp=device-widp, initial-scale=1">


  <link href="../static/styles_inss/mostrar.css" rel="stylesheet">  

  <header class="cabecalho">
    <a class="cabecalho_texto" href="/" >Página Inicial</a><br/>
    <a class="cabecalho_texto" href="{{url_for('calculo_inss')}}" >Página de Cálculo</a><br/>
    <h2 class="cabecalho_texto">RESULTADO DO CÁLCULO</h2>

  </header>

  <body>
    
    <img class="foto" src="/static/imagem/detroit.jpg" alt="">
   
  <main class="formulario">   

    <ul class="lista">
      <li class="lista_texto">
        <h4>Salário</h4>
        <h4 > {{dados.salario}}</h4>
      </li>
      <li class="lista_texto">
        <h4>Insalubridade</h4>
        <h4 > {{dados.insal}}</h4>
      </li>
      <li class="lista_texto">
        <h4>Periculosidade</h4>
        <h4 > {{dados.peric}}</h4>
      </li>
      <li class="lista_texto">
        <h4>Horas extras 50%</h4>
        <h4 > {{dados.valorhe50}}</h4>
      </li>
      <li class="lista_texto">
        <h4>Horas extras 100%</h4>
        <h4 > {{dados.valorhe100}} </h4>
      </li>
      <li class="lista_texto">
        <h4>valor Adic. Nortuno:</h4>
        <h4 > {{dados.valoradcnot}}</h4> 
      </li>
      <li class="lista_texto">
        <h4>Valor DSR HE/Adc.Not:</h4>
        <h4 > {{dados.dsrhoad}}</h4> 
      </li>
      <li class="lista_texto">
        <h4 class="total">Total Proventos</h4>
        <h4 class="total"> {{dados.bruto}}</h4>
      </li>
      <li class="lista_texto">
        <h4>Faltas</h4>
        <h4 > {{dados.Faltas}}</h4>                   
      </li>
      <li class="lista_texto">
        <h4>DSR</h4>
        <h4 > {{dados.valordsr}}</h4>
      </li>
      <li class="lista_texto">
        <h4>Atrasos</h4> 
        <h4 > {{dados.Atrasos}}</h4>
      </li>
      <li class="lista_texto">
        <h4 class="total">Total Descontos</h4>
        <h4 class="total"> {{dados.desc}}</h4>
      </li>      

    </ul>
  
    
    
  <ul class="lista">         
    <li class="lista_texto">
      <h4>Base de INSS:</h4>
      <h4>{{dados.baseinss}}</h4>  
    </li>
    <li class="lista_texto">           
      <h4 class="total">Descontos INSS</h4>
      <h4 class="total">{{dados.valorinss}}</h4> 
    </li>
    <li class="lista_texto">  
      <h4>-</h4>
      <h4>-</h4>
    </li>
    <li class="lista_texto">
      <h4>Base FGTS</h4>
      <h4>{{dados.basefgts}}</h4>
    </li>
    <li class="lista_texto">
      <h4 class="total">Valor FGTS</h4>
      <h4 class="total">{{dados.valorfgts}}</h4>
    </li>
    <li class="lista_texto">
      <h4>-</h4>
      <h4>-</h4>
    </li>
    <li class="lista_texto">
      <h4>Base IRRF</h4>
      <h4>{{dados.baseir}}</h4>
    </li>
    <li class="lista_texto">
      <h4 class="total">Valor IRRF</h4>
      <h4 class="total">{{dados.valorir}}</h4>
    </li>
    <li class="lista_texto">
      <h4>-</h4>
      <h4>-</h4->
    </li>
    <li class="lista_texto">
      <h4>-</h4>                   
      <h4>-</h4> 
    </li>
    <li class="lista_texto">  
      <h4>-</h4>
      <h4>-</h4>
    </li>    
    <li class="lista_texto">  
      <h4>-</h4>
      <h4>-</h4>
    </li>    
   
  </ul>    

      
    </main>    

    <img class="foto" src="../static/imagem/gran_turismo.jpg" alt="">

  </body>
       
        
            
  {%endblock%}
 
  
</html>