  
  body{
    background-color: rgb(65, 80, 82);
    color: aliceblue;
    margin-top: 55px;
   
  }
  
  .cartoes{
      margin-top:  5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 2rem;
      flex-grow: 1;
    }

    .cartao{
        
        width: 400px;
        height: 300px;
    }




.calculos{

    background-color: rgb(219, 239, 239);
}
.bases{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li{
    display: flex;
    align-content: flex-start;
    color: rgb(13, 14, 15);
    width: 15rem;
   

}

ul{
    display: flex;
    gap: 2rem;
    align-content: flex-start;
}