{% extends 'base.html'%}
{% block conteudo %}

  <link rel="stylesheet" href="../static/styles_inss/encargos.css">



        
    <body>
      <h1> Encargos trabalhistas: o que são e por que é importante conhecê-los?</h1>
      <h2>Os encargos trabalhistas nada mais são do que todos os valores pagos ao colaborador contratado com base na CLT (Consolidação das Leis do Trabalho), além do salário mensal decorrente do trabalho.</h2>
      <h2> Esses valores são benefícios garantidos aos trabalhadores e, portanto, obrigatório a qualquer empresa. Por isso, devem ser considerados na hora de planejar financeiramente os custos e despesas mensais do seu negócio. Afinal, além dos encargos trabalhistas existem ainda os encargos sociais (mais adiante a gente explica o que são eles). </h2>
      <h1>Quais são os encargos trabalhistas mais conhecidos?</h1>
      <h2>São muitos os encargos trabalhistas abraçados pelas leis brasileiras. Abaixo, a gente elenca os principais. Confira!</h2>
      <h1>Férias </h1>
      <h2>O artigo 153 da CLT prevê que a cada período de 12 meses de contrato de trabalho, o colaborador contratado pela CLT tenha direito a férias. Para conceder este benefício, a empresa precisa lidar com um encargo trabalhista, que deve ser pago até dois dias antes do período a ser gozado e deverá incidir, também, o adicional de ⅓ do salário referente ao período. </h2>
      <h1>Décimo Terceiro</h1>
      <h2>O décimo terceiro salário está previsto na Lei Nº4.090 decretada em julho de 1962 e é aplicável a todos os trabalhadores celetistas. O cálculo do décimo terceiro é proporcional a 1/12 avos de salário por mês trabalhado no ano vigente.
        É também obrigatório que em casos de desligamentos o colaborador receba o décimo terceiro salário de forma proporcional aos meses trabalhados. </h2>
      <h1>Insalubridade </h1>
      <h2> Insalubridade
        Esse encargo é aplicado para trabalhadores que são expostos a riscos brandos durante a execução do seu trabalho, como a agentes nocivos à saúde, por exemplo.
      </h2>
        <h1>Periculosidade</h1>
        <h2>O encargo trabalhista de periculosidade é aplicado quando o trabalhador também é exposto ao risco, mas de forma acentuada, com risco de morte. 
        </h2>
        <h1> Adicional noturno</h1>
        <h2>O encargo trabalhista para adicional noturno, também previsto pela CLT, é um adicional para trabalhadores que executam jornadas noturnas, entre 22h e 5h da manhã. Esse tipo de adicional é uma forma de compensação pelo possível cansaço extra, devido à troca do relógio biológico.
        </h2>
        <h1> Vale-transporte</h1>
        <h2>O vale-transporte precisa ser pago antecipadamente para garantir o acesso do colaborador ao ambiente de trabalho, sempre contando com o custo do transporte público. O funcionário dividirá o valor do vale com a empresa, sendo descontado até 6% de seu salário. 
        </h2>
        <h1>E o que são encargos sociais?</h1>
        <h2>Como citamos anteriormente, além dos encargos trabalhistas existem os encargos sociais, que também entram na conta final dos gastos de uma empresa com os salários da equipe.
        Os encargos sociais são indiretos, ou seja, não chegam diretamente na mão do trabalhador no mês vigente. Esse tipo de encargo serve para custear programas de benefícios e políticas públicas favoráveis ao trabalhador, como INSS e FGTS, por exemplo. 
        Alguns dos impostos trabalhistas mais conhecidos são: 
        </h2>
        <h1>INSS</h1>
        <h2>O INSS é o Instituto Nacional de Segurança Social. Sua função é ser responsável por aposentadorias, licenças médicas, afastamentos e benefícios previdenciários que garantam a seguridade social. Esse é um imposto de pagamento obrigatório e deverá ser descontado do salário do colaborador nas seguintes proporções:
        </h2>
        <ul>
          <li>– Salários de até R$1.212,00, o desconto é de 7,5%; </li>
          <li> – Salários de 1.212,01 até 2.427,35, o desconto é de 9%; </li>
          <li>– Salários de 2.427,36 até 3.641,03 o desconto é de 12%; </li>
          <li> – Salários de 3.641,04 até 7.087,22, o desconto é de 14%. </li>
        </ul>

        <h1>FGTS</h1>
        <h2>O Fundo de Garantia ao Tempo de Serviço tem como objetivo proteger o trabalhador em casos de demissões sem justa causa, provendo recursos financeiros para emergências. O benefício geralmente equivale a 8% do salário bruto mensal do trabalhador e precisa ser pago pela empresa contratante todos os meses. Esse fundo pode ter conta ativa, relativa ao trabalho atual e contas inativas, relativas a trabalhos anteriores. 
        </h2>

       <h2> Leia também | Como assinar Carteira de Trabalho Digital em três passos </h2>
        <h3>
        Como calcular encargos trabalhistas 
        Para saber como fazer o cálculo de encargos trabalhistas  é preciso ter conhecimento do enquadramento tributário de cada empresa. Ou seja, se ela está inserida no cadastro do Simples Nacional ou se aderiu ao Lucro Real ou Presumido. Ou seja, só sabendo o tipo de regime tributário da empresa é possível conhecer quais são os tributos devidos.
        
        O Simples Nacional, por exemplo,  enquadra empresas com receita bruta anual de até R$ 4,8 milhões, o que abrange pequenas empresas e microempresas. Por se tratar de empresas com faturamento anual mais baixo, é também mais baixo o valor destinado para os encargos trabalhistas.
        
        Segundo previsão legal, essas empresas são desobrigadas a recolher os seguintes benefícios:
        
        INSS Patronal;
        Seguro por acidente de trabalho – SAT;
        Salário educação;
        Contribuições para o sistema S ou Incra.
        No entanto, são obrigadas a recolher os seguintes tributos:
        
        Fração de férias – 11,11%;
        FGTS – 8%;
        Fração do 13º salário – 8,33%;
        FGTS – provisão de multa para a rescisão contratual – 4%;
        Benefícios previdenciários (férias, FGTS e descanso semanal remunerado) – 7,93%.
        Já o valor dos encargos trabalhistas para empresas adeptas ao Lucro Real ou Presumido são os seguintes:
        
        Fração de férias – 11,11%;
        FGTS – 8%;
        Fração do 13º salário – 8,33%;
        FGTS – provisão de multa para a rescisão contratual – 4%;
        INSS Patronal – 20%;
        Seguro de acidente de trabalho – SAT – 3%;
        Salário Educação – 2,5%;
        Sistema S ou Incra – 3,3%;
        Benefícios previdenciários (férias, FGTS e descanso semanal remunerado) – 7,93%
        Em um exemplo prático, ao salário de um colaborador de uma empresa optante pelo regime do Simples Nacional são aplicados os seguintes encargos trabalhistas :
        
        Férias: 11,11%
        13º Salário: 8,33%
        FGTS: 8%
        Multa para rescisão – FGTS: 4%
        Previdenciário – 13º Salário, férias e DSR: 7,93%
          
        
        A partir desses valores, temos como resultado um percentual de 39% sobre o salário que a empresa paga ao seu colaborador. Em um exemplo hipotético, em que o trabalhador recebe R$2.000 como seu salário, o custo trabalhista será o de R$ 787,40 além do valor destinado ao seu salário, totalizando R$ 2.787,40. 
        
        Fica evidente que os encargos trabalhistas interferem, e muito, nas finanças de uma empresa, independentemente de ser pago de forma direta ou indireta ao funcionário. Por este motivo, saber como calcular os encargos é tão importante. 
        
        Só assim as empresas conseguem se adequar à lei, saber o real custo dos funcionários tendo conhecimento de como calcular folha de pagamento, compreender como está a saúde financeira do negócio, planejar o orçamento, além de evitar demissões e contratações mal planejadas.
        
        E agora, já sabe quais são os encargos trabalhistas? Esperamos que sim! Mas se ainda tiver alguma dúvida, fique à vontade para deixar um comentário ou falar com a gente por meio dos nossos canais de atendimento.
        
          
        
        E se quiser conhecer um pouco melhor os serviços que a Cora oferece às pessoas empreendedoras por meio da nossa conta PJ sem taxa, é só clicar aqui! Até a próxima e bons negócios!  
        
        </h3>
      <h1>Férias </h1>
      <h2></h2>
      <h1>Férias </h1>
      <h2></h2>

    </body>  

    {%endblock%}

</html>