<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/styles_inss/index.css" rel="stylesheet">   
    
    <header class="cabecalho">     
      <a class="cabecalho_texto" href="/" > PAGINA INICIAL</a>
      <a  class="cabecalho_texto" href="{{url_for('calculo_inss')}}">Encargos holerites</a>        
      <a  class="cabecalho_texto"  href="{{url_for('calculo_fgts')}}" >Cálculos FGTS</a> 
      <a  class="cabecalho_texto" href="/encargos" > Sobre Encargos Trabalhistas</a>
      <a  class="cabecalho_texto" href="/login">Sair da Biblioteca</a> 
   </header>
            
    <body>     
            
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
        {% endif %}
        {% endwith %}

</body>


{%block conteudo%}

{%endblock%}

<footer class="rodape">

  <p class="rodape_texto"> Produzido por Antonio Neto</p>

</footer>
 
</html>