
{% extends 'base.html'%}
    {% block conteudo %}

      
    <link href="../static/styles_inss/index.css" rel="stylesheet">    
    
    <body>        
     

<div class="container">
    <section class="cartoes">
            
        <img  class="cartao" src="static/imagem/IR1.jpg" alt="" >                        

        <img class="cartao" src="static/imagem/tabelaINSS.png" alt="" >                       

        <img  class="cartao" src="static/imagem/tabela-irrf.jpg" alt="" >                  
        
        <a  class="cartao" href="{{url_for('calculo_inss')}}" > <img src="static/imagem/bannerIR.jpg" title="CALCULAR">

        <a  class="cartao" href="{{url_for('calculo_inss')}}" > <img src="static/imagem/bannernovo.jpg" title="CALCULAR">
                    
    
     </section>     

     <section class="calculos">                        
        
         <div class="bases">           
                <ul> 
                    <li> <strong>BASE DE CÁLCULO </strong></li>
                    <li> <strong>ALÍQUOTA </strong></li>
                    <li> <strong>PARCELA A DEDUZIR </strong></li>
                </ul>
            
                <ul>
                    <li>Até: R$2.112,00</li>
                    <li>--</li>
                    <li>--</li>
                </ul>
                <ul>
                    <li>De R$2.112,01 a R$2.826,65</li>
                    <li>7,5%</li>
                    <li>R$ 158,40</li>
                </ul>
                <ul>
                    <li>De R$2.826,66 a R$3.751,05</li>
                    <li>15%</li>
                    <li>R$ 370,40</li>
                </ul>
                <ul>
                    <li>De R$3.751,06 a R$4.664,68</li>
                    <li>22,5%</li>
                    <li>R$ 651,73</li>
                </ul>
                <ul>
                    <li>A partir de R$4.664,69</li>
                    <li>27,5%</li>
                    <li>R$ 884,96</li>
                </ul>
                <ul>
                    <li>Parcela por dependente</li>
                    <li>--</li>
                    <li>R$ 189,59</li>   
                </ul>       
            </div> 
     </section>
       
 
  {%endblock%}
  
  
</html>