body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#evento {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    color: yellow;
    border-radius: 10px;
}

#lista {
    margin-left: 10px;
    width: 90dvw;
    height: 350px;
    overflow-y: scroll;
    border: 1px solid grey;
    border-radius: 5px;
}

#resumo {
    display: flex;
    gap: 10px;
}



#linhas {
    width: 100px;
    font-size: 10px;
}

#linhas1 {
    width: 50px;
    font-size: 10px;
}

#linhas2 {
    width: 250px;
    font-size: 10px;
}

li {
    list-style-type: none;
    padding: 5px;
}

li:nth-child(even) {
    background-color: #eee;

}

#tit {
    width: 50px;
    display: flex;
    gap: 12px;
}

#meses {
    display: flex;
    gap: 10px;
}

#tot_titulo {
    display: flex;
    gap: 10px;
}

#tot_he {
    display: flex;
    gap: 10px;
}

#tot_dsf {
    display: flex;
    gap: 10px;
}

#tot_int {
    display: flex;
    gap: 10px;
}

#li-titu {
    font-size: 12px;
}

#li-titulo {
    font-size: 12px;
    font-weight: bold;
    color: blue;
}

#container {
    display: flex;
    flex-direction: column;
}

#totais {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border: 1px solid grey;    
}

#total {
    display: flex;
    flex-direction: column;
}

#cabeca {
    display: flex;
}

#cabeca_tit {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    align-items: center;
    row-gap: 25px;
    background-color: #5989f8;
    color: #eee;
    font-size: 12px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#soma {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    align-items: center;
    row-gap: 25px;
    background-color: #5989f8;
    color: #eee;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}