body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#evento {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    color: yellow;
    border-radius: 10px;
}

#listagem {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    box-sizing: border-box;
    border: 1px solid rgb(5, 74, 236);
    width: 1400px;
    height: 500px;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #baccd6;
}

#tit_resumo {
    display: flex;    
    justify-content: left;
    margin-top: 10px;
    margin-left: 75px;
    color: rgb(9, 66, 197);
    font-weight: bold;   
}

#resumo {
    display: flex;
    color: #262b47;   
    
   }


#linhas {
    width: 150px;
    font-size: 10px;    
}

#linhas1 {
    width: 80px;
    font-size: 10px;
}

#linhas2 {
    width: 250px;
    font-size: 10px;
}

li {
    list-style-type: none;
}

li:nth-child(even) {
    background-color: #baccd6;

}

#tit {
    display: flex;
    justify-content: center;      
    width: 50px;    
    gap: 12px;
}

#meses {
    display: flex;
    gap: 10px;
}

#tot_titulo {
    display: flex;
    gap: 10px;
}

#tot_he {
    display: flex;
    gap: 10px;
}

#tot_dsf {
    display: flex;
    gap: 10px;
}

#tot_int {
    display: flex;
    gap: 10px;
}

#li-titu {
    font-size: 12px;
}

#li-titulo {
    font-size: 12px;
    font-weight: bold;
    color: blue;
}

#container {
    display: flex;
    flex-direction: column;
}

#totais {
    flex-direction: column;
    background-color: #eee;
    border: 1px solid grey;   
}

#total {
    display: flex;
    flex-direction: column;
}

#cabeca {
    display: flex;
}

#cabeca_tit {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    margin-left: 5dvw;
    align-items: center;
    row-gap: 20px;
    background-color: #5989f8;
    color: #eee;
    font-size: 12px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#soma {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    align-items: center;
    row-gap: 20px;
    background-color: #5989f8;
    color: #eee;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}