.inicio{
    width: 80dvw;
    display: flex;
    gap: 10px;
}

.retorno{
    width: 60px;
    height: 60px;
    display: flex;
    background-color: rgb(10, 185, 112);
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(242, 246, 242);
    border: 3px rgb(58, 9, 237) solid;
    border-radius: 50px;
    text-decoration: none;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79dvw;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    gap: 20PX;
    color: darkgreen;
    
}

.tabelas {    
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman';
    width: 80dvw;
    height: 350px;
    border: 5px solid rgb(150, 198, 240);
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 5px;
}

.dadosTabela {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;    
}

.dadosTabela h3 {
    display: flex;
    align-items: center;
    width: 150px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 200;    
}

.total{
    display: flex;
    justify-content: center;
    width: 80dvw;
    background-color: bisque;
    color: coral;

}

.totaisGerentes{
    width: 80dvw;
    display: flex;
    justify-content: space-between;
}

.gerente{
    color: crimson;
    font-size: 20px;
}

.totaisGerentes div h3{
    color: blue;
}

fieldset{
    row-gap: 5px;
    background-color: rgb(202, 243, 248);
    border: 2px solid rgb(15, 123, 212);
    border-radius: 5px;
}

legend{
    color: darkgreen;
    font-size: 20px;
    font-weight: bold;
}
