{% extends 'base.html'%}
    {% block conteudo %}                    

  
  <body>    
      
         {% for jogo in jogos %}
                
          <tr>  
            
            <form action="{{url_for('alterar_jogos')}}" method="post"  enctype="multipart/form-data">

              <figure class="">

                <img class="" src="/{{jogo[5]}}" >   
              

          </tr>       
                              
                <div class="">
                  <label for="exampleInputPassword1" class="">Nome:</label>
                  <h1> {{jogo[1]}} </h1>
                </div></br>
                
                <div class="">
                  <label for="exampleInputPassword1" class="" >Detalhes:</label></br>
                  <p> {{jogo[6]}} </p>
                </div></br>          
               

                </br/>               
                          
            </form>
              
              
              
          {% endfor %}

         
      </div>           
    </body>
  {%endblock%}

</html>
