{% extends 'base.html'%}
    {% block conteudo %}                    

  
  <body>    
      
         {% for jogo in jogos %}
                
          <tr>  
            
            <form action="{{url_for('alterar_jogos')}}" method="post"  enctype="multipart/form-data">

              <figure class="">

                <img class=" " src="/{{jogo[5]}}">
    
                <figcaption>
                  <label class="">
                    
                    <input type="" name="arquivo" accept=".jpg" >
    
                  </label>
                </figcaption>
    
              </figure>                 

                
              </br>
                <div class="grupo">
                  <label for="exampleInputPassword1">Id</label>
                  <input type="text" class="control" name="id" id="id" value="{{jogo[0]}}">
                </div>
                
                <div class="grupo">
                  <label for="exampleInputPassword1">Nome</label>
                  <input type="text" class="control" name="nome" id="nome" value="{{jogo[1]}}" >
                </div></br>
                
                <div class="grupo">
                  <label for="exampleInputPassword1">Categoria</label>
                  <input type="text" class="control" name="categoria" id="categoria" value="{{jogo[2]}}" >
                </div></br>

                <div class="grupo">
                  <label for="exampleInputPassword1">Console</label>
                  <input type="text" class="control" name="console" id="console" value="{{jogo[3]}}" >
                </div></br>

                <div class="grupo">
                  <label for="exampleInputPassword1">Ano</label>
                  <input type="text" class="control" name="ano" id="ano" value="{{jogo[4]}}" >
                </div>  </br>                
                
                <div class="grupo">
                  <label for="exampleInputPassword1">Pasta</label>
                  <input type="text" class="control" name="foto" id="foto" value="{{jogo[5]}}" >
                </div>  </br>                   
                
                <div class="grupo">
                  <label for="exampleInputPassword1">Detalhes</label>
                  <input type="text" class="control" name="obs" id="obs" value="{{jogo[6]}}" >
                </div>  </br>                   
               

                </br/>               
                <button type="submit" class="">Alterar dados </button>             
            </form>
              
              
              
          {% endfor %}

          </tr>  
      </div>           
    </body>
  {%endblock%}

</html>
