
{% extends 'base.html'%}
    {% block conteudo %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mainpage.css') }}">

      <body class="menu">      
                
        <a href="/novo_jogo" class="menu-visual"> NOVO JOGO</a></br>
        <a href="/" class="menu-visual">FAZER LOGIN</a></br>  
        <a href="/logout" class="menu-visual">FAZER LOGOUT</a></br>
          
   
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>CATEGORIA</th>
                    <th>CONSOLE</th>
                    <th>ANO</th>
                    <th>Arquivo</th>
                    <th>FOTO</th>
                    <th>ACÃO</th>                    
                </tr>
          

                {% for jogo in jogos %}                

                <tr> 
                                    
                  <td> {{jogo[0]}} </td>  
                  <td> {{jogo[1]}} </td>  
                  <td> {{jogo[2]}} </td>  
                  <td> {{jogo[3]}} </td>                      
                  <td> {{jogo[4]}} </td>                   
                  <td> {{jogo[5]}} </td>
                  <td> <img src="{{jogo[5]}}" width="50"   height="50" ></td> 

                  <td> <a href="{{url_for('detalhes',id=jogo[0])}}" class="menu-editar"> Detalhes</a> </br>        
                    <a href="{{url_for('editar_jogos',id=jogo[0])}}" class="menu-editar"> Editar</a>  </br>         
                    <a href="{{url_for('deletar_jogos',id=jogo[0])}}" class="menu-editar"> Deletar</a> </td>                   

                </tr>
                
                {% endfor %}   
            
        
    
    </body>
  {%endblock%}
  
</html>