
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
   
    <link rel="stylesheet" href="./static/projeto.css">
    
    <title>Jogoteca</title>
       
  </head>

  <body>
      <div>
        
          {% with messages = get_flashed_messages() %}
                    {% if messages %} 
                        <ul id="messages" class="list-unstyled">
                        {% for message in messages %}
                            <li class="alert alert-success">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
          {% endwith %}
          
      

        <div>  
          
            <i>                           
              <font color="blue" size="5" > {{ usuario }} </font><br/>
              <font color="red" size="5" > {{ titulo }} </font>
            </i>
          
        </div>
      
<body> 
      <form  method="post" action="{{url_for('autenticar')}}" >
        <fieldset class="container">
          
          <div class="menu">
            <label  class="menu-texto" for="nome">nome</label>
            <input type="text" id="nome" name="nome" class="menu-texto" placeholder="Digite nome usuario">          
            <label  class="menu-texto" for="senha">Senha</label>
            <input type="text" id="senha" name="senha" class="menu-texto"  placeholder="Digite a senha">
          </div>          
          <button type="submit" class="btn btn-primary btn-salvar">Logar</button>
       
        </fieldset>
      </form>
    </div>
   
</body>
</html>