*{
    margin: 0;
    padding: 0;
}



body{
   height: 100vh;
   box-sizing: border-box;
   width: 100%;
   background-color: rgb(101, 27, 192);
   color: aliceblue;
}

.titulo-destaque{
    color: #22D4FD;
    border: 2px solid #f6ecec;
}

h1{
    font-weight: bold;
    
}

span{
    color: #22D4FD;
    border: 1px solid #22D4FD;
    padding: 2px;
    background: rgba(242, 243, 245, 0.25);
}

.editorial {
    background: rgba(204, 219, 245, 0.25);
    padding: 10px;
  }

  .apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin: 3%;


  }

  .apresentacao_texto{
    display: flex;
    align-items: center;
    padding-left: 30px ;
    margin: 1%;
    

  }


  .apresentacao_titulo{

    font-size: 36px;


  }

  .apresentacao_paragrafo{

    font-size: 24px;


  }

  ul{

    background-color: rgb(248, 246, 244);
    color: #f6ecec;
    border: 2px solid rgb(207, 225, 240);

  }

  
  