@import url('https://fonts.googleapis.com/css2? family= Krona+One & family= Montserrat:ital,wght@1,400;1,600 & display=swap');


*{
    margin: 0;
    padding: 0;
}

header{
  display:flex;
  position:fixed;
  gap: 40px;
  top:0;
  left:0;
  width:100%;
  background:white;
  align-items:flex-end;
  text-align:center;
  padding: 3%px 0;
    
  font-weight: 600;    
  font-family: 'Montserrat', sans-serif; 
  font-size: 20px;   
  font-style: italic;  
  

}

body{
  margin: 60px;
   height: 100vh;
   box-sizing: border-box;
   width: 100%;
   background-color: #B0A695;
   color: aliceblue;
}

.titulo-destaque{
    color: #22D4FD;
    border: 2px solid #f6ecec;
}

h1{
    font-weight: bold;
    
}

span{
    color: #22D4FD;
    border: 1px solid #22D4FD;
    padding: 2px;
    background: rgba(242, 243, 245, 0.25);
}

.editorial {
    background: rgba(204, 219, 245, 0.25);
    padding: 10px;
  }

  .apresentacao{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    margin-right: 25%;
    margin-left: 10%;
    gap: 20px;
  }

  .mostrar{
    margin-top: 60px;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    margin-right: 25%;
    margin-left: 10%;
    border: 5px solid rgb(237, 237, 22);
    padding: 5px;
    background: rgba(4, 77, 151, 0.964);
  }

  .apresentacao_texto{
    width: 100;   
    display: flex;
    flex-direction: column;
    gap: 1px; /* para espaçar os items dentro*/
    
  }

 .texto{
   text-align: right;
       
  }

  .apresentacao_titulo{

    font-family: 'Krona One', sans-serif ;
    
    font-size: 36px;
    
    
  }
  
  .apresentacao_paragrafo{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;


  }

  .apresentacao_links{   
    
    display: flex;        
    justify-content: space-between;    


  }

  .apresentacao_links_link{    

    background-color: #086276;
    color: rgba(213, 222, 231, 0.726);
    width: 150px;
    border: 2px solid rgb(148, 148, 243);
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;  
    padding: 10px;    /* para espaçar dentro do box item*/

    text-decoration: none;
    
  }

  
  .rodape{
  display:block;
  position:fixed;
  width:100%;
  bottom:0vh;
  left:0;
 
  text-align:right;
  padding: 3px 1% 0% 0% ;      
  font-weight: 600;    
  font-family: 'Montserrat', sans-serif; 
  font-size: 10px;   
  font-style: italic;  
  color: #e4eaeb;
  
}


  a {
    text-decoration: none;
}

.total{
  background-color: #F6FA70;
  color: rgb(14, 14, 14);
  text-align: right;
}
 .coluna{

  display: flex;
 
  width: 200px;
 
  background-color: #414145; 

  flex-direction: row;

 }