

body{
    display: flex;
    justify-content: space-between;
    margin: 5rem 3rem 0 0;
    background-color: rgb(247, 239, 246);
    gap: 2em;
}

.container{
    display: flex;
    justify-content: space-between;
}

.formulario{
   
    display: flex;
    flex-direction: column;
    align-items: center;
       
}

.container_lista{

    width: 1100px;
    height: 600px;
    background-color:rgb(193, 226, 250);
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    align-items: center;    

}

.foto{

    width: 350px;
}
h4{
    display: flex;
    font-size: 16px;
        
}


.lista{
   
   
    
}


.lista_texto{
    display: flex; 
    width: 450px;
    background-color: rgb(245, 248, 250);
    justify-content: space-between;
    margin-right: 10px;
    padding: 5px;
    gap: 10px;
    
    
}

.lista_texto:nth-child(even) {
    background:rgb(232, 233, 233);
  }


  .total{
    font-weight: bold;
    color: rgb(228, 17, 17);
  }

.colinsalubridade{
    display: flex;
}


.botoes{

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.botao{
    display: flex;
    width: 200px;
    background-color: rgb(6, 54, 108);
    border-radius: 10px;
    color: antiquewhite;   
    padding: .5rem;
    padding-left: 1rem;
    font-weight: bold;
}